<h1 class="title center-text">Welcome to Sports Compare!</h1>

<p class="center-text"><em>Sports Compare</em> is a website that allows you to quickly and easily compare up to <em>three</em> sports cars and compare the facts that <em>you</em> care about the most.</p>


<br><hr>

<div class="non-mobile">
	<h3 class="subtitle center-text">How does it work?</h3>

	<p class="info center-text">In the market for a new sports car and narrowed your choice down to the last handful of candidates?</p><br>

	<p class="info center-text">Sports compare simply takes data about sports cars directly from the manufacturers, and shows you the things <em>you</em> most care about.</p><br>

	<p class="info center-text">You can compare upto three cars and immediatly see thier top speeds, price, MPG and more, all at the click of a button!</p><br>

	<img src="/assets/images/corvette.jpg" class="car-feature">
	<br><hr><br>
</div>

<div class="base">
	<p class="feature center-text">Ready to get started? <a href="/cars" class="feature link"> Click here!</a></p>
</div>